#map {
  background : #ffffff;
  position   : relative;
}

.ol-popup {
  position         : absolute;
  background-color : white;
  -webkit-filter   : drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
  filter           : drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
  padding          : 15px;
  border-radius    : 10px;
  border           : 1px solid #cccccc;
  bottom           : 12px;
  left             : -50px;
  min-width        : 280px;
  user-select      : text;
}

.ol-popup:after, .ol-popup:before {
  top            : 100%;
  border         : solid transparent;
  content        : " ";
  height         : 0;
  width          : 0;
  position       : absolute;
  pointer-events : none;
}

.ol-popup:after {
  border-top-color : white;
  border-width     : 10px;
  left             : 48px;
  margin-left      : -10px;
}

.ol-popup:before {
  border-top-color : #cccccc;
  border-width     : 11px;
  left             : 48px;
  margin-left      : -11px;
}

.ol-popup-closer {
  text-decoration : none;
  position        : absolute;
  top             : 2px;
  right           : 8px;
}

.ol-popup-closer:after {
  content : "✖";
}

#taxo-menu-map {
  margin-top : 12px;
  overflow   : auto;
}

#taxo-menu-map ul {
  list-style    : none;
  margin-bottom : 0;
}

#taxo-menu-map ul label {
  color          : #121f54;
  text-transform : uppercase;
  font-family    : 'MyriadPro';
  font-size      : 12px;
}

#taxo-menu-map ul ul label {
  color          : #6d6f71;
  text-transform : none;
}

#taxo-menu-map ul.list {
  padding-left : 0;
}

#taxo-menu-map ul.list ul {
  padding-left : 12px;
}

#taxo-menu-map .picto {
  position          : absolute;
  right             : 6px;
  top               : 6px;
  width             : 15px;
  height            : 30px;
  background-size   : 15px;
  background-repeat : no-repeat;
}

#taxo-menu-map .agricole span.picto, #popup .agricole span.picto {
  background    : #f5a432;
  width         : 15px;
  height        : 15px;
  border-radius : 7px;
  display       : block;
}

#taxo-menu-map .legend-container {
  position      : relative;
  padding       : 6px;
  margin-bottom : 6px;
  border        : 1px solid #cccccc;
}

#taxo-menu-map .legend-container {
  background : #ffffff;
}

#taxo-menu-map .legend-column {
  width          : 19%;
  margin-right   : 1.25%;
  display        : inline-block;
  vertical-align : top;
}

#taxo-menu-map .legend-column.last {
  margin-right : 0;
}

#taxo-menu-map input[type="checkbox"] {
  height : 10px;
}

/*
Carte dans un paragraph
 */
.field-name-carte-ds #map {
  margin : -2rem -2rem 0 -2rem;
}

@media all and (-ms-high-contrast : none), (-ms-high-contrast : active) {
  /* IE10+ CSS styles go here */
  .field-name-carte-ds #map {
    height : 465px;
  }
}

.field-name-carte-ds li {
  position : relative;
}

.field-name-carte-ds #taxo-menu-map {
  overflow : initial;
  margin   : 1rem -15px;
}

.field-name-carte-ds #taxo-menu-map form {
  margin : 0 auto;
}

.field-name-carte-ds #taxo-menu-map .legend-column {
  width             : calc(25% - 10px);
  border            : 1px solid #cccccc;
  padding           : 6px;
  margin            : 0 0 10px;
  display           : block;
  page-break-inside : avoid;
  float             : left;
}

@media screen and (max-width : 720px) {
  .field-name-carte-ds #taxo-menu-map .legend-column {
    width : calc(33% - 10px);
  }
}

@media screen and (max-width : 512px) {
  .field-name-carte-ds #taxo-menu-map .legend-column {
    width : calc(50% - 10px);
  }
}

@media screen and (-ms-high-contrast : active), (-ms-high-contrast : none) {
  .field-name-carte-ds #taxo-menu-map .legend-column {
    display : inline-block;
  }

  .field-name-carte-ds #taxo-menu-map .legend-column:first-child {
    margin : 1rem 1rem 0 0;
  }
}

.field-name-carte-ds #taxo-menu-map .legend-column input {
  vertical-align : middle;
  margin         : 0;
}

.field-name-carte-ds #taxo-menu-map .legend-column label {
  font-size      : 11px;
  width          : 70%;
  vertical-align : middle;
  margin         : 0 0 0 5px;
}

.field-name-carte-ds #taxo-menu-map .picto {
  position            : relative;
  height              : 15px;
  float               : right;
  top                 : 0;
  right               : 0;
  margin-left         : 5px;
  background-position : center;
}

.field-name-carte-ds #taxo-menu-map .agricole.picto {
  background    : #f5a432;
  width         : 15px;
  height        : 15px;
  border-radius : 7px;
  display       : block;
}

.field-name-carte-ds #taxo-menu-map label {
  margin-left : 5px;
}

.field-name-carte-ds #taxo-menu-map ul ul {
  clear : both;
}

.not-logged-in #popup .edit {
  display : none;
}