#map{
  background:#fff;
  position: relative;
}

.ol-popup {
  position: absolute;
  background-color: white;
  -webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
  filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #cccccc;
  bottom: 12px;
  left: -50px;
  min-width: 280px;
}
.ol-popup:after, .ol-popup:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.ol-popup:after {
  border-top-color: white;
  border-width: 10px;
  left: 48px;
  margin-left: -10px;
}
.ol-popup:before {
  border-top-color: #cccccc;
  border-width: 11px;
  left: 48px;
  margin-left: -11px;
}
.ol-popup-closer {
  text-decoration: none;
  position: absolute;
  top: 2px;
  right: 8px;
}
.ol-popup-closer:after {
  content: "✖";
}

#taxo-menu-map{
  margin-top:12px;
  overflow: auto;
}

#taxo-menu-map ul{
  list-style: none;
  margin-bottom: 0;
}
#taxo-menu-map ul label{
  color:#121f54;
  text-transform: uppercase;
  font-family: 'MyriadPro';
  font-size:11px;
}
#taxo-menu-map ul ul label{
  color:#6d6f71;
  text-transform: none;
}
#taxo-menu-map ul.list{
  padding-left:0;
}
#taxo-menu-map ul.list ul{
  padding-left:12px;
}

#taxo-menu-map .picto {
  position: absolute;
  right: 6px;
  top: 6px;
  width: 15px;
  height: 30px;
  background-size: 15px;
  background-repeat: no-repeat;
}
#taxo-menu-map .agricole span.picto,#popup .agricole span.picto{
  background:#f5a432;
  width: 15px;
  height: 15px;
  border-radius:7px; 
  display: block;
}
#taxo-menu-map .legend-container{
  position: relative;
  padding:6px;
  margin-bottom: 6px;
  border:1px solid #ccc;
}
#taxo-menu-map .legend-container{
  background:#fff;
}
#taxo-menu-map .legend-column{
  width: 19%;
  margin-right:1.25%;
  display: inline-block;
  vertical-align:top;
}
#taxo-menu-map .legend-column.last{
  margin-right:0;
}
#taxo-menu-map input[type="checkbox"]{
  height: 10px;
}